* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree", arial;
}

.container {
  height: 100vh;
  background-image: url("/images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: 100% 400px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.logo {
  width: 150px;
  margin: 4rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50rem;
}

.title {
  font-size: 3rem;
  margin-top: 1rem;
  color: hsl(210, 10%, 33%);
}

.header-description {
  font-size: 1.5rem;
  /* padding: 1rem 30rem; */
  font-weight: lighter;
  color: hsl(201, 11%, 66%);
}

.ios {
  color: white;
  background-color: hsl(171, 66%, 44%);
  border: none;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  margin-right: 0.3rem;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.mac {
  color: white;
  background-color: hsl(233, 100%, 69%);
  border: none;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  margin-left: 0.3rem;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.header-buttons {
  margin: 2rem;
}

.sub-description {
  margin-top: 10rem;
  color: hsl(210, 10%, 33%);
}

.services {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.services-description {
  display: flex;
  flex-direction: column;
}

.services-column {
  margin: 5rem;
}

.description-title {
  font-size: 1.7rem;
  margin-top: 2rem;
  color: hsl(210, 10%, 33%);
}

.description-text {
  color: hsl(201, 11%, 66%);
}

.tablet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.img-devices {
  margin-top: 2rem;
}

.tablet-description {
  margin-top: 5rem;
}

.advantages {
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  flex-wrap: wrap;
}

.advantage-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  max-width: 350px;
  margin: 2rem;
  flex-wrap: wrap;
}

.icon {
  margin: 2rem;
}
.advantage-title {
  margin-bottom: 1rem;
  color: hsl(210, 10%, 33%);
}
.advantage-description {
  color: hsl(201, 11%, 66%);
}

.sponsors-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.sponsor {
  align-items: center;
  margin: 2rem;
  padding: 3rem 0rem;
  height: 100%;
}
.download-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
}
.download-description {
  color: hsl(201, 11%, 66%);
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: #f5f6f8;
}

.footer-logo {
  width: 70px;
  flex: 1;
}

.links {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  text-align: center;
  flex: 3;
}

ul,
a {
  text-decoration: none;
  list-style-type: none;
}

.social {
  flex: 1;
}

@media only screen and (max-width: 468px) {
  .ios,
  .mac {
    margin: 1rem 0rem;
  }
  .header,
  .services,
  .tablet,
  .advantages,
  .sponsors-logo {
    flex-wrap: wrap;
  }
  .title {
    margin: 2rem;
  }
  .desktopscreen,
  .img-devices {
    width: 100%;
    padding: 1rem;
  }
  .advantages {
    flex-direction: column;
  }
  .advantage-title {
    font-size: 2rem;
  }
  .advantage-description {
    font-size: 1.5rem;
  }
}
